.authContainer{
    background-image: url('/images/authbackground.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgBlure{
    backdrop-filter: blur(5px);
}